.card
  .card-header
    %i.fa.fa-user
    = @user.username
    's profile
    - if current_user != @user
      - if current_user.followees.pluck(:id).include? @user.id
        = link_to follow_path(id: @user.id), method: :delete do
          %i.fas.fa-user-minus
          Unfollow
      - else
        = link_to follows_path(id: @user.id), method: :post do
          %i.fas.fa-user-plus
          Follow
  .card-body
    .card-text
      = @user.profile.blank? ? "#{@user.username} didn't set any profile information yet..." : @user.profile
      - if !@user.blog_url.blank?
        %br/
        .card-link
          = link_to @user.blog_url do
            %i.fas.fa-blog
            = @user.blog_url

%br/

- if @user.followers.size > 0
  .h3
    = @user.followers.size
    = "Follower".pluralize(@user.followers.size)
  = @user.followers.pluck(:username).join(", ")

  %hr/

- if @user.followees.size > 0
  .h3
    = @user.followees.size
    = "Followee".pluralize(@user.followees.size)
  = @user.followees.pluck(:username).join(", ")
