= form_with model: post do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        #{pluralize(post.errors.count, 'error')} prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.hidden_field :featured_image_cache
    .custom-file
      = f.label :featured_image, class: 'custom-file-label'
      = f.file_field :featured_image, class: 'custom-file-input'
    = f.label :content, class: 'col-form-label'
    = f.text_area :content, rows: 15, id: 'post-content-area', class: 'form-control'

    %br/
    = f.button 'Submit', class: 'btn btn-primary'

- content_for :extra_js do
  = javascript_packs_with_chunks_tag 'cloudinary_upload', 'data-turbolinks-track': 'reload', defer: true
