- @posts.each do |post|
  .card
    .card-header
      At
      = post.updated_at.to_s(:update_timestamp)
      = current_user
      said:
    .card-body
      .card-text
        = post.content.truncate(40)
      .card-link
        %br
        .row
          .col
            = link_to post do
              %i.fa.fa-eye
              View full post
          .col
            = link_to edit_post_path(post) do
              %i.fa.fa-edit
              Edit post
          .col
            = link_to post, method: :delete, data: { confirm: 'Are you sure?' } do
              %i.far.fa-trash-alt
              Delete post
  %br
