!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miniblog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %span.navbar-brand.mb-0.h1 Miniblog
        %button.navbar-toggler{:type => "button",
                               :data => {:toggle => "collapse",
                                         :target => "#navbarNav"},
                               :aria => {:controls => "navbarNav",
                                         :expanded => "false",
                                         :label => "Toggle navigation"}}
          %span.navbar-toggler-icon
        .navbar-collapse.collapse#navbarNav
          .navbar-nav
            = link_to posts_path, :class => "nav-item nav-link" do
              %i.fa.fa-home
              Home
            - if user_signed_in?
              = link_to new_post_path, :class => "nav-item nav-link" do
                %i.fas.fa-plus
                Post new content
              = link_to destroy_user_session_path, :class => "nav-item nav-link", :method => :delete do
                %i.fas.fa-sign-out-alt
                Logout

      %br/

      - flash.each do |flash_type, flash_content|
        .alert{:class => "alert-#{flash_type} alert-dismissible fade show",
               :role => "alert"}
          = flash_content
          %button.close{:type => "button",
                        :data => {:dismiss => "alert"},
                        :aria => {:label => "Close"}}
            %span{:aria => {:hidden => "true"}}
              &times;

      = yield
